body{
	background-color: #232323;
	margin: 0;
	font-family: "Source Sans Pro","Montserrat", "Avenir";
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

#container{
	margin: 20px auto;
	max-width: 600px;
}

h1{
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	color: white;
	background: cornflowerblue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

#colorDisplay{
	font-size: 200%;
}

#message{
	display: inline-block;
	width: 20%;
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected{
	color: white;
	background: cornflowerblue;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: cornflowerblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover{
	color: white;
	background: cornflowerblue;
}

#overlay {
	position:absolute;
	top:50vh;
	left:0px;
	width:100vw;
	height:0vh;
	background:rgba(0,0,0,0.8);
	z-index:-1;
	opacity:0;
	padding:80px 100px;
	overflow:hidden;
	box-sizing:border-box;
	transition: top 500ms ease-in-out,
		opacity 500ms ease-in-out,
		height 0ms ease-in-out 500ms;  
}

#overlay .close-btn {
	position:absolute;
	top:20px;
	right:40px;
	color:#fff;
	font-size:40px;
	font-weight:600	cursor:pointer;
}

#overlay h2 {
	text-align: center;
	background: cornflowerblue;
	font-size:38px;
	color:#FFF;
}

#overlay p {
	text-align: center;
	font-size:18px;
	font-weight: 600;
	color:#EEE;
	margin: 25px 0px;
}

body.activeForm #overlay {
	z-index:2;
	opacity:1;
	top:0px;
	height:100vh;
	transition: top 500ms ease-in-out,
            opacity 500ms ease-in-out,
            height 0ms ease-in-out 0ms;
}

.ex1 {
	color: red;
}

.ex2 {
	color: #707070;
}
